<section
  class="relative h-screen overflow-hidden"
  id="hero-carousel"
  (mousemove)="onMouseMove($event)"
  (click)="onClick($event)"
>
  <div
    *ngFor="let slide of slides; let i = index"
    class="slide absolute inset-0 bg-cover bg-center transition-opacity duration-700"
    [ngStyle]="{ 'background-image': slide.backgroundImage }"
    [class.slide-active]="i === currentSlideIndex"
    [style.opacity]="i === currentSlideIndex ? '1' : '0'"
  >
    <div class="absolute inset-0 flex items-center justify-center p-4 sm:p-8">
      <div class="text-center text-white max-w-4xl sm:max-w-4xl">
        <h1
          class="!leading-snug text-3xl sm:text-5xl md:text-7xl font-bold mb-4 sm:mb-6"
          [class.typewriter]="i === currentSlideIndex && i == 0"
        >
          {{ slide.title }}
        </h1>
        <p
          class="text-base sm:text-xl md:text-2xl text-animate opacity-90"
          *ngIf="i === currentSlideIndex"
        >
          {{ slide.subtitle }}
        </p>
      </div>
    </div>
  </div>

  <!-- Indicators -->
  <div
    class="absolute bottom-6 sm:bottom-8 left-1/2 transform -translate-x-1/2 flex space-x-2 sm:space-x-3"
  >
    @for (slide of slides; track $index; let i = $index) {
    <button
      (click)="goToSlide(i); $event.stopPropagation()"
      class="w-2.5 h-2.5 sm:w-3 sm:h-3 rounded-full bg-white transition-opacity duration-300 indicator"
      [class.active]="i === currentSlideIndex"
      [style.opacity]="i === currentSlideIndex ? '1' : '0.5'"
    ></button>
    }
  </div>
</section>
